.que.varnumericunit .answer {
    padding: 0.3em;
    width: auto;
    display: inline;
}
.que.varnumericunit span.answerwrap {
    display : inline-block;
}
.que.varnumericunit .answer input {
    width: 99%;
}
